:root.theme-dark {
  --bg-color: #000028;
  --color-text-title: #db00ff;
  --accent-color: #ff0070;
  --text-color: #f1b2ce;
  --section-title-color: #ff0070;
  --subtitle-color: #000028;
  --menu-button-color: #ff0070;
  --decor-element-color: #ff0070;
  --hover-accent-color: rgb(255, 0, 112, 0.4);
  --cover-image: url(../images/cover-image-dark.png);
}

.theme-dark .decor-text {
  display: block;
}
