.page {
  background-color: var(--bg-color, #000028);
  font-family: var(--main-text-font, sans-serif);
  font-size: var(--main-text-font-size, 18px);
  font-weight: var(--main-text-font-weight, normal);
  background-image: var(--cover-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  block-size: 100vh;
}

.header {
  padding: 10px;
  block-size: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  position: relative;
}

.main-title {
  font-family: var(--main-text-font, sans-serif);
  font-size: var(--title-font-size, 116px);
  color: var(--color-text-title, #db00ff);
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
  line-height: 83%;
  font-weight: var(--accent-font-weight, bold);
}

.annotation {
  max-inline-size: 355px;
  font-size: var(--main-text-font-size, 18px);
  font-weight: var(--accent-font-weight, bold);
  line-height: 130%;
  align-self: center;
}

.align {
  display: block;
}

.title-decor {
  background-color: var(--accent-color, #ff0070);
  color: var(--subtitle-color, #000028);
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-item {
  list-style: none;
}

.header__theme-menu-button {
  inline-size: 70px;
  block-size: 26px;
  color: var(--menu-button-color, #ff0070);
  background-color: transparent;
  border: none;
  font-size: var(--main-text-font-size, 18px);
  line-height: 100%;
  text-transform: lowercase;
  display: flex;
  justify-content: center;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--decor-element-color, #ff0070);
}

.decor-text {
  font-weight: var(--main-text-font-weight, normal);
  font-size: var(--main-text-font-size, 18px);
  line-height: 139%;
  text-transform: uppercase;
  color: var(--accent-color, #ff0070);
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 38px;
}

.decor-text::after {
  content: '';
  display: block;
  position: absolute;
  top: 8px;
  left: 43px;
  inline-size: 9px;
  block-size: 9px;
  border: 1px solid currentColor;
  border-radius: 50%;
  background-color: currentColor;
  box-shadow: 0 0 4px 2px var(--accent-color, #ff0070);
  z-index: 1;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  display: block;
  inline-size: 25px;
  block-size: 25px;
  border: 1px solid var(--decor-element-color, #ff0070);
  z-index: 1;
}

.decorated-zone::before {
  top: 10px;
  right: 10px;
  border-left: none;
  border-bottom: none;
  z-index: 1;
}

.decorated-zone::after {
  left: 10px;
  bottom: 10px;
  border-right: none;
  border-top: none;
  z-index: 1;
}

.content-section {
  margin-inline: var(--content-margin-inline, 10px);
}

.article {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-block-start: 20px;
}

.content-section:not(:first-child),
.gallery {
  margin-block-start: var(--section-block-start, 50px);
}

.content-section:first-child,
.footer {
  margin-block-start: 40px;
}

.section-title {
  font-family: var(--main-text-font, sans-serif);
  font-size: var(--main-text-font-size, 18px);
  line-height: 130%;
  color: var(--section-title-color, #ff0070);
  font-weight: (--accent-font-weight, bold);
}

.article-subtitle {
  font-family: var(--main-text-font, sans-serif);
  font-size: var(--main-text-font-size, 18px);
  line-height: 130%;
  font-weight: var(--accent-font-weight, bold);
}

.article__text {
  font-family: var(--main-text-font, sans-serif);
  font-size: var(--main-text-font-size, 18px);
  line-height: 130%;
  color: var(--text-color, #f1b2ce);
  font-weight: var(--main-text-font-weight, normal);
}

.text-link {
  text-decoration: none;
  text-shadow: 2px 2px var(--accent-color, #ff0070);
}

.content-section__advice-title {
  font-family: var(--main-text-font, sans-serif);
  font-size: var(--main-text-font-size, 18px);
  line-height: 130%;
  font-weight: var(--main-text-font-weight, normal);
  display: block;
  margin-block-start: 10px;
}

.gallery {
  min-block-size: 1400px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin-inline: var(--content-margin-inline);
}

.gallery__item {
  margin: 0;
  display: flex;
}

.gallery__image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.footer {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  block-size: 100vh;
}

.footer-title {
  place-self: center;
  font-family: var(--main-text-font, sans-serif);
  font-size: var(--title-font-size, 116px);
  color: var(--color-text-title, #db00ff);
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
  line-height: 83%;
  font-weight: var(--accent-font-weight, bold);
}

@media (width >= 768px) {
  .header {
    padding: 20px;
  }

  .main-title {
    margin-left: -20px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    left: 20px;
    bottom: 20px;
  }

  .decor-text {
    top: 20px;
    right: 48px;
  }

  .annotation {
    max-inline-size: 364px;
    justify-self: end;
  }

  .content-section:first-child,
  .footer {
    margin-block-start: 60px;
  }

  .content-section:not(:first-child),
  .gallery {
    margin-block-start: var(--section-block-start, 80px);
  }

  .content-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-inline: var(--content-margin-inline, 20px);
    column-gap: 20px;
  }

  .article:first-of-type {
    margin-block-start: 0;
  }

  .section-title {
    max-inline-size: 236px;
  }

  .content-section__reasons .article {
    grid-column: 2 / span 4;
    margin-inline-start: 20px;
  }

  .content-section.content-section__concentration {
    grid-template-columns: repeat(3, 1fr);
  }

  .content-section__concentration .section-title {
    grid-column-start: 1;
    grid-column-end: auto;
    grid-row-start: 1;
    grid-row-end: auto;
    padding-block-end: 20px;
  }

  .content-section__concentration .article {
    grid-column: 1 / span 3;
  }

  .content-section.content-section__advice {
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }

  .content-section__advice-title {
    margin-block-end: 0;
  }

  .gallery {
    min-block-size: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    margin-inline: 20px;
    gap: 20px;
  }

  .gallery .article-subtitle {
    grid-column: 1 / span 3;
    grid-row-start: 1;
    grid-row-end: auto;
  }

  .gallery__item:first-of-type {
    grid-row-start: 2;
    grid-row-end: auto;
    grid-column: 1 / span 2;
  }

  .gallery__item:nth-of-type(2) {
    grid-column-start: 3;
    grid-column-end: auto;
    grid-row: 2 / span 2;
  }

  .gallery__item:nth-of-type(3) {
    grid-column-start: 1;
    grid-column-end: auto;
    grid-row: 3 / span 2;
  }

  .gallery__item:nth-of-type(4) {
    grid-column-start: 2;
    grid-column-end: auto;
  }

  .gallery__item:nth-of-type(5) {
    grid-column: 2 / span 2;
  }
}

@media (width >= 1024px) {
  .main-title {
    font-size: var(--title-font-size, 157px);
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .header__theme-menu-button:hover {
    border: 1px solid var(--hover-accent-color, rgb(255, 0, 112, 0.4));
  }

  .header__theme-menu-button:focus {
    outline: none;
  }

  .header__theme-menu-button:focus-visible {
    border-bottom: 1px solid var(--decor-element-color, #ff0070);
  }

  .annotation {
    max-inline-size: 50%;
  }

  .section-title {
    max-inline-size: 315px;
  }

  .content-section__reasons .article {
    grid-column: 2 / span 5;
  }

  .content-section__concentration .article {
    grid-column: initial;
    grid-row-start: 2;
    grid-row-end: auto;
    margin-block-start: 0;
  }

  .content-section.content-section__advice {
    column-gap: 11px;
  }

  .text-link:hover {
    border-bottom: 1px solid var(--text-color, #f1b2ce);
  }

  .text-link:focus {
    outline: none;
  }

  .text-link:focus-visible {
    outline: 1px solid var(--text-color, #f1b2ce);
  }

  .footer-title {
    font-size: var(--title-font-size, 157px);
  }
}
