:root {
  --bg-color: #000028;
  --color-text-title: #db00ff;
  --accent-color: #ff0070;
  --text-color: #f1b2ce;
  --section-title-color: #ff0070;
  --menu-button-color: #ff0070;
  --decor-element-color: #ff0070;
  --hover-accent-color: rgb(255, 0, 112, 0.4);
  --subtitle-color: #000028;
  --main-text-font: 'IBM Plex mono';
  --title-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --accent-font-weight: 700;
  --main-text-font-size: 18px;
  --main-text-font-weight: 400;
  --cover-image: url(../images/cover-image-dark.png);
  --section-block-start: 50px;
  --content-margin-inline: 10px;
}

@media (width >= 768px) {
  :root {
    --section-block-start: 80px;
    --content-margin-inline: 20px;
    --title-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
